div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
div#menu li {
    float: left;
}
div#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div#menu li a:hover {
    background-color: #111111;
}

div#content {
	width:100%;
	display:inline-block;
}
