<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
				<li ng-click="logout.loggingOut()"><a href="#/">Log Out</a></li>
			</ul>
</div>

<div style="width:50%;margin:10px auto;" ng-controller="ReviewCtrl as ctrl">
	<h1>My Reviews</h1>
	<table class="table">
		<thead>
			<tr>
				<td>
					<p>Review ID</p>
				</td>
        <td>
					<p>Class Review</p>
				</td>
				<td>
					<p>Professor Review</p>
				</td>
				<td>
					<p>Professor Name</p>
				</td>
				<td>
					<p>Review Date</p>
				</td>
				<td>
					<p>Year Taken</p>
				</td>
				<td>
					<p>Semester</p>
				</td>
				<td>
					<p>Class Rating</p>
				</td>
				<td>
					<p>Professor Rating</p>
				</td>
				<td>
					<p>Actions</p>
				</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in ctrl.mysavedreviews">
			<td ng-bind="object.review_id"></td>
			<td ng-bind="object.class_review"></td>
			<td ng-bind="object.professor_review"></td>
			<td ng-bind="object.professor_fname + ' ' + object.professor_lname"></td>
			<td ng-bind="object.review_date"></td>
			<td ng-bind="object.year"></td>
			<td ng-bind="object.semester"></td>
			<td ng-bind="object.class_rating"></td>
			<td ng-bind="object.professor_rating"></td>
			<td class="btn btn-success"ng-click="ctrl.saveReviewId(object.review_id)"><a style href="#/editingmyreview/">Edit</a></td>
		</tr>
		</tbody>
	</table>
</div>
