<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
				<li ng-click="logout.loggingOut()"><a href="#/">Log Out</a></li>
			</ul>
</div>



<div style="width:50%;margin:10px auto;" ng-controller="ClassCtrl as class">
	<div>
		<input ng-model="search" class="form-control" type="text" placeholder="Search by Subject">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1>List of Classes (Click on ID for details)</h1>
	<a href="#/addclass/">Can't find your class? Click Here!</a>
	<table class="table">
		<thead>
			<tr>
        <td>
					<button>ID</button>
				</td>
				<td>
					<button ng-click="class.reverseList()">Class Name</button>
				</td>
				<td>
        <button ng-click="class.reverseList()">Section</button>
				</td>
				<td>
				<button ng-click="class.reverseList()">Prof First-Name</button>
				</td>
				<td>
				<button ng-click="class.reverseList()">Prof Last-Name</button>
				</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in class.profclasses | filter:{name: search}">
			<td ng-click="class.saveClassId(object.id, object.name, object.section, class.PROFfname, class.PROFlname)"><a href="#/review/{{object.id}}">{{object.id}}</a></td>
			<td ng-bind="object.name"></td>
			<td ng-bind="object.section"></td>
			<td ng-bind="class.PROFfname"></td>
			<td ng-bind="class.PROFlname"></td>
		</tr>
		</tbody>
	</table>
</div>
