<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
				<li ng-click="logout.loggingOut()"><a href="#/">Log Out</a></li>
			</ul>
</div>

<div style="width:75%;margin:10px auto;" ng-controller="ReviewCtrl as ctrl">
	<h1>List of Reviews</h1>
	<a href="#/addreview/">Did you take this course/professor? Add a review and Click Here!</a>
	<table class="table">
		<thead>
			<tr>
				<td>
					<p>Class Name</p>
				</td>
				<td>
					<p>Class Section</p>
				</td>
				<td>
					<p>Class Review</p>
				</td>
				<td>
					<p>Professor Name</p>
				</td>
				<td>
					<p>Professor Review</p>
				</td>
				<td>
					<p>Review Date</p>
				</td>
				<td>
					<p>Year</p>
				</td>
				<td>
					<p>Semester</p>
				</td>
				<td>
					<p>Class Rating</p>
				</td>
				<td>
					<p>Professor Rating</p>
				</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in ctrl.reviews">
			<td ng-bind="ctrl.showClassName"></td>
			<td ng-bind="ctrl.showClassSection"></td>
			<td ng-bind="object.class_review"></td>
			<td ng-bind="ctrl.showClassFname + ' ' + ctrl.showClassLname"></td>
			<td ng-bind="object.professor_review"></td>
			<td ng-bind="object.review_date"></td>
			<td ng-bind="object.year"></td>
			<td ng-bind="object.semester"></td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.class_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.class_rating"</p></span>
			</td>
			<td
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.professor_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.professor_rating"</p></span>
			</td>
		</tr>
		</tbody>
	</table>
</div>
