<div id="menu">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
			</ul>
</div>
<div ng-controller="SubmittedCtrl as ctrl">
<div style="width:50%;margin:10px auto;">
<h1>Submitted Page</h1>
<p>This is the submitted class page</p>
<table class="table">
	<thead>
		<tr>
			<td>
			<p>Professor First Name</p>
			</td>
			<td>
			<p>Professor Last Name</p>
			</td>
			<td>
			<p>University ID</p>
			</td>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td ng-bind="ctrl.Professorfirstname"></td>
		<td ng-bind="ctrl.Professorlastname"></td>
		<td ng-bind="ctrl.Professoruid"></td>
	</tr>
	</tbody>
</table>
</div>
</div>
