<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
				<li ng-click="logout.loggingOut()"><a href="#/">Log Out</a></li>
			</ul>
</div>
<div ng-controller="ClassCtrl as ctrl">
<div style="width:50%;margin:10px auto;">
<h1>Add Class Page</h1>
<p>This is the add class page</p>
<form name="myForm">
	<div class="form-group row">
		<label for="major-description" class="col-xs-2 col-form-label">Subject</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="classname" id="class1" name="classinput" required>
				<span style="color:red" ng-show="myForm.classinput.$dirty && myForm.classinput.$invalid">
					<span ng-show="myForm.classinput.$error.required">Subject is required.</span>
				</span>
		</div>
  	</div>
	<div class="form-group row">
		<label for="major-reqsat" class="col-xs-2 col-form-label">Section</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="section" id="section1" name="sectioninput" required>
				<span style="color:red" ng-show="myForm.sectioninput.$dirty && myForm.sectioninput.$invalid">
					<span ng-show="myForm.sectioninput.$error.required">Section is required.</span>
				</span>
		</div>
  	</div>
	<div class="form-group row">
		<label for="major-reqsat" class="col-xs-2 col-form-label">Professor ID</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="professorid" id="professor1" name="professorinput" required>
				<span style="color:red" ng-show="myForm.professorinput.$dirty && myForm.professorinput.$invalid">
					<span ng-show="myForm.professorinput.$error.required">ProfessorID is required.</span>
				</span>
		</div>
  	</div>
	<div class="form-group row">
		<label for="major-reqsat" class="col-xs-2 col-form-label">University ID</label>
		 <div class="col-xs-10">
		 	<input class="form-control" type="text" ng-model="universityid" id="university1" name="universityinput"  required>
				<span style="color:red" ng-show="myForm.universityinput.$dirty && myForm.universityinput.$invalid">
					<span ng-show="myForm.universityinput.$error.required">UniversityID is required.</span>
				</span>
		</div>
  	</div>

	<button ng-disabled="myForm.$invalid && myForm.$error" type="button" class="btn btn-success" ng-click="ctrl.addClass(classname,section,professorid,universityid)">Add Class</button>
	&nbsp;
</div>
</div>
