

<div ng-controller="LogoutCtrl as logout">
	<ul class="nav nav-tabs navbar-default navbar-fixed-top" style="position:fixed;">
		<li class=""><a href="#/home"  data-toggle="tab" aria-expanded="false">Home</a></li>
		<li class="active"><a href="#/classes"  data-toggle="tab" aria-expanded="true">Classes</a></li>
		<li class=""><a href="#/professors"  data-toggle="tab" aria-expanded="false">Professors</a></li>
		<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">My Reviews</a></li>
		<li class=""><a href="#/myclasses"  data-toggle="tab" aria-expanded="false">My Classes</a></li>
		<li class="" ng-click="logout.loggingOut()"><a href="#/"  data-toggle="tab" aria-expanded="false">Log Out</a></li>
	</ul>
</div>

<div class="blueBackground minpageheight">

<div style="width:75%;margin:10px auto;" ng-controller="ClassCtrl as class">
	<br />
	<br />
	<br />
	<div>
		<select style="width:300px" class="form-control" ng-options="subject for subject in class.subjectarray" name="singleSelect" ng-model="selectionvalue">
			<option style="font-weight: bold;" value="" disabled selected> Select Subject</option>
		</select><br>
		<input style="width:300px" ng-model="search" class="form-control" type="text" placeholder="Search by {{search}}">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1 align="center">Classes</h1>
	<a href="#/addclass/">Can't find your class? Click Here!</a>
	<table class ="table table-hover tbfontsize">
		<thead>
			<tr>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortSubject()">Class Name</button>
				</th>
				<th>
        		<button class="btn tbutton">Section</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortName()">Professor</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1CR()">Class Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1PR()">Professor Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortCount()"># of Reviews</button>
				</th>
				<th>
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in class.combinedclasses | filter:{name: selectionvalue} | filter:search | orderBy:sortType">
			<td ng-bind="object.name"></td>
			<td ng-bind="object.section"></td>
			<td ng-bind="object.professor_fname + ' ' + object.professor_lname"></td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.aggregateClassRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.aggregateClassRating"</p></span>
			</td>
			<td
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.aggregateProfessorRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.aggregateProfessorRating"</p></span>
			</td>
			<td ng-click="class.saveClassId(object.id, object.name, object.section, object.professor_fname, object.professor_lname)"><a href="#/review/{{object.id}}" style="font-size:25px" ng-bind="object.aggregateCount"></td>
			<td class="tdheight">
				<div ng-show="((object.aggregateProfessorRating + object.aggregateClassRating) / 2) > 3.49">
				<img class="img-circle" src="/css/pics/thumbs_up2_small.jpg" />
				</div>
				<div ng-show="((object.aggregateProfessorRating + object.aggregateClassRating) / 2) < 2.5 && ((object.aggregateProfessorRating + object.aggregateClassRating) / 2) > 0">
				<img class="img-circle" src="/css/pics/thumbs_down2_small.jpg" />
				</div>
			</td>
			<td ng-click="class.addToMySavedClasses(class.loginid, object.id)"><button class=" btn btn-success">Add Class</button></td>
		</tr>
		</tbody>
	</table>
</div>
</div>
