    <link href="css/shaq.css" rel="stylesheet" type="text/css">
<style>
body{
  color: #67BCDB;
}
form{
  width: 500px;
}

</style>

<body>

			<div id="allpage">

<div id="leftbarx">
				</div>

<div id="header">
					<div>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#/home"  data-toggle="tab" aria-expanded="true">Home</a></li>
							<li class=""><a href="#/classes"  data-toggle="tab" aria-expanded="false">Classes</a></li>
							<li class=""><a href="#/professors"  data-toggle="tab" aria-expanded="false">Professors</a></li>
							<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">My Reviews</a></li>
							<li class=""><a href="#/myclasses"  data-toggle="tab" aria-expanded="false">My Classes</a></li>
							<li class="" ng-click="logout.loggingOut()"><a href="#/"  data-toggle="tab" aria-expanded="false">Log Out</a></li>
						</ul>
			</div>
		</div>
		<div id="content">

      <div>
</div>

<div class="blueBackground">
<div id="body" class="home">
			<div class="header">
				<div>
          <img  alt="" class="satellite">
					<h1>"A teacher affects eternity; he can never tell where his influence stops."</h1>
					<h2>Henry Adams</h2>

				</div>
			</div>
			<div class="body">
				<div>
					<h1>The College Critic</h1>
					<p>Providing real life reviews of professors so students know exctly what to expect when choosing a class</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<h1>FEATURED VIDEO</h1>
							<a href="https://www.youtube.com/embed/6RdmJyM7hD4"></iframe><img src="css/pics/building.png" alt=""><span></span></a>
						</li>
						<li>
							<h1>Classes</h1>
							<ul>
								<li>
									<a href="#/classes"><img src="css/pics/class.jpg" alt=""></a>
									<h1>Classes X-123</h1>
									<span>FEBRUARY 6, 2016</span>
									<a href="#/classes" class="more">Read More</a>
								</li>
								<li>
									<a href="#/classes"><img src="css/pics/class2.jpg" alt=""></a>
									<h1>Classes</h1>
									<span>FEBRUARY 3, 2016</span>
									<a href="#/classes" class="more">Read More</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
  </div>

		<div id="footer">
			<div class="connect">
				<div>
					<h1>The College Critic</h1>
				</div>
        <img src="css/pics/logo_large.png" alt="" class="satellite">
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2016 BY The College Critic| ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
