<div id="menu" ng-controller="LogoutCtrl as logout">
	<ul class="nav nav-tabs">
		<li class=""><a href="#/home"  data-toggle="tab" aria-expanded="false">Home</a></li>
		<li class=""><a href="#/classes"  data-toggle="tab" aria-expanded="false">Classes</a></li>
		<li class=""><a href="#/professors"  data-toggle="tab" aria-expanded="false">Professors</a></li>
		<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">My Reviews</a></li>
		<li class="active"><a href="#/myclasses"  data-toggle="tab" aria-expanded="true">My Classes</a></li>
		<li class="" ng-click="logout.loggingOut()"><a href="#/"  data-toggle="tab" aria-expanded="false">Log Out</a></li>
	</ul>
</div>



<div style="width:50%;margin:10px auto;" ng-controller="ClassCtrl as class">
	<div>
		<input ng-model="search" class="form-control" type="text" placeholder="Search by Subject">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1>My Classes</h1>
	<table class="table">
						<thead>
			<tr>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortSubject()">Subject</button>
				</th>
				<th>
        		<button class="btn tbutton">Section</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortName()">Professor Name</button>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1CR()">Class Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1PR()">Professor Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortCount()"># of Reviews</button>
				</th>
				<th>
				</th>
				<th>
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in class.myclasses | filter:{name: search} | orderBy:sortType">
			<td ng-bind="object.name"></td>
			<td ng-bind="object.section"></td>
			<td ng-bind="object.professor_fname + ' ' + object.professor_lname"></td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.aggregateClassRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.aggregateClassRating"</p></span>
			</td>
			<td
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.aggregateProfessorRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.aggregateProfessorRating"</p></span>
			</td>
			<td ng-bind="object.aggregateCount"></td>
			<td ng-click="class.saveClassId(object.id, object.name, object.section, object.professor_fname, object.professor_lname)"><a href="#/review/{{object.id}}">Want to look at the reviews?</a></td>
			<td>
			<button class="btn btn-danger" ng-click="class.deletesavedclass(object.savedClassId)">Remove Class</button>
			<a class="btn btn-success" href="#/addreview/" ng-click="class.saveClassProfNames(object.name, object.section, object.professor_fname, object.professor_lname)">Add Review</a>
			</td>
			<td ng-show="object.alternativeCount > 0" ng-click="class.getClassIdForAlternativeClasses(object.id, object.savedClassId)"> <a href="#/alternativeclasses/" class="btn btn-default">Alternative Classes</a></td>
			<td ng-show="object.alternativeCount > 0" ng-bind="object.alternativeCount"></td>
		</tr>
		</tbody>
	</table>
</div>
