<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/classes">Classes</a></li>
				<li><a href="#/professors">Professors</a></li>
				<li><a href="#/myreviews">My Reviews</a></li>
        <li><a href="#/myclasses">My Classes</a></li>
				<li ng-click="logout.loggingOut()"><a href="#/">Log Out</a></li>
			</ul>
</div>

<div style="width:50%;margin:10px auto;" ng-controller="ProfessorCtrl as professor">
	<div>
		<input ng-model="search" class="form-control" type="text" placeholder="Search by Last Name">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1>List of Professors</h1>
	<a href="#/addprofessor/">Can't find your professor? Click Here!</a>
	<table class="table">
		<thead>
			<tr>
        <td>
					<button class="btn btn-primary">University</button>
				</td>
				<td>
					<button class="btn btn-primary">Professor Name</button>
				</td>
				<td>
					<button class="btn btn-primary">Professor Rating</button>
				</td>
				<td>
					<button class="btn btn-primary"># of Reviews</button>
				</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in professor.professors | filter:{last_name: search}">
			<td ng-bind="person.university_name"></td>
			<td><a href="#/professorclasses/{{person.id}}">{{person.first_name + ' ' + person.last_name}}</td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="person.aggregateProfRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="person.aggregateProfRating"</p></span>
			</td>
			<td ng-click="professor.saveProfFnameLname(person.first_name, person.last_name)"><a href="#/professorreview/{{person.id}}">{{person.count}}</a></td>
		</tr>
		</tbody>
	</table>
</div>
