
<div id="menu" ng-controller="LogoutCtrl as logout">
			<ul class="nav nav-tabs navbar-default navbar-fixed-top nav-justified" style="font-family: 'Tauri', sans-serif;">
				<li></li>
				<li></li>
				<li></li>
				<li class=""><a href="#/home"  data-toggle="tab" aria-expanded="false">HOME</a></li>
				<li class=""><a href="#/classes"  data-toggle="tab" aria-expanded="false">CLASSES</a></li>
				<li class="active"><a href="#/professors"  data-toggle="tab" aria-expanded="true">PROFESSORS</a></li>
				<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">MY REVIEWS</a></li>
        <li class=""><a href="#/myclasses"  data-toggle="tab" aria-expanded="false">MY CLASSES</a></li>
				<li class="" ng-click="logout.loggingOut()"><a href=""  data-toggle="tab" aria-expanded="false">LOG OUT</a></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
</div>

<div class="blueBackground minpageheight" style="font-family: 'Tauri', sans-serif;">

<div style="width:75%;margin:10px auto;" ng-controller="ClassCtrl as class">
	<div>
		<select style="width:300px" class="form-control" ng-options="subject for subject in class.profsubjectarray" name="singleSelect" ng-model="selectionvalue">
    </select><br>
		<input style="width:300px" ng-model="search" class="form-control" type="text" placeholder="Search by Subject">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1 style="font-family: 'Averia Serif Libre', cursive; color: #0047b3;" align="center">PROFESSOR'S CLASSES</h1>
	<a href="#/addclass/">Can't find your class? Click Here!</a>
	<table class="table">
		<thead>
			<tr>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortSubject()">Class Name</button>
				</th>
				<th>
				<button class="btn tbutton">Section</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortName()">Professor</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1CR()">Class Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sort1PR()">Professor Rating</button>
				</th>
				<th>
				<button class="btn tbutton" ng-click="sortType = class.sortCount()"># of Reviews</button>
				</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in class.profclasses | filter:{name: selectionvalue} | filter:search |orderBy:sortType">
			<td class="tdheight" ng-bind="object.name"></td>
			<td ng-bind="object.section"></td>
			<td ng-bind="class.PROFfname + ' ' + class.PROFlname"></td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.aggregateClassRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.aggregateClassRating"</p></span>
			</td>
			<td
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.aggregateProfessorRating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.aggregateProfessorRating"</p></span>
			</td>
			<!-- <td ng-bind=""></td> -->
			<td ng-click="class.saveClassId(object.id, object.name, object.section, class.PROFfname, class.PROFlname)"><a href="#/review/{{object.id}}">{{object.aggregateCount}}</a></td>

		</tr>
		</tbody>
	</table>
</div>
</div>
