<div id="menu" ng-controller="LogoutCtrl as logout">
	<ul class="nav nav-tabs navbar-default navbar-fixed-top" style="position:fixed; background:white;">
		<li class=""><a href="#/home"  data-toggle="tab" aria-expanded="false">Home</a></li>
		<li class=""><a href="#/classes"  data-toggle="tab" aria-expanded="false">Classes</a></li>
		<li class="active"><a href="#/professors"  data-toggle="tab" aria-expanded="true">Professors</a></li>
		<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">My Reviews</a></li>
		<li class=""><a href="#/myclasses"  data-toggle="tab" aria-expanded="false">My Classes</a></li>
		<li class="" ng-click="logout.loggingOut()"><a href="#/"  data-toggle="tab" aria-expanded="false">Log Out</a></li>
	</ul>
</div>


<style>

.colStyle {
	border: 1px solid grey;
	border-radius: 25px;
}


.colGroup1 {
	border: 2px grey;
	background-color: transparent;
		border-radius: 25px;
}

.colGroup2 {
	border: 2px grey;
		border-radius: 25px;
}

.textBox {
	border:solid 1px grey;
	resize: none;
	border-radius: 5px;
}

</style>

<div style="width:70%" align="center" ng-controller="ClassCtrl as class">
<br />
<br />
<br />
<div>
	<table class="table table-striped" style="margin:20px; opacity:0.8;">
		<thead>
			<a href="#/addreview/">Did you take this course/professor? Add a review and Click Here!</a>
			<tr style="font-weight: bold; color: black;">
				<td style="border:1px grey">
					<button class="btn tbutton"  style="font-weight: bold; font-size: 150%" ng-click="sortType = class.sortSubject()">Subject</button>
				</td>
				<td style="border:1px grey">
					<button class="btn tbutton"  style="font-weight: bold; font-size: 150%" ng-click="sortType = class.sortName()">Professor</button>
				</td>

<!--				<td>
					<button class="btn tbutton" ng-click="sortType = ctrl.sortYear()">Year Taken</button>
				</td> -->
        		<td>
					<button class="btn tbutton" style="font-weight: bold; font-size: 150%" ng-click="sortType = class.sortYOR()">Review</button>
				</td>

				<td style="border:1px grey">
					<button class="btn tbutton"  style="font-weight: bold; font-size: 150%" ng-click="sortType = class.sortCR2()">Class Rating</button>
				</td>

				<td style="border:1px grey">
					<button class="btn tbutton"  style="font-weight: bold; font-size: 150%" ng-click="sortType = class.sortPR2()">Prof. Rating</button>
				</td>


			</tr>
		</thead>
		<tbody>
					<colgroup span="2" class="colGroup1">
					<col class="colStyle"></col>
					<col class="colStyle"></col>
					</colgroup>
					<colgroup span="4" class="colGroup2">
					<col class="colStyle"></col>
					<col class="colStyle"></col>
					<col class="colStyle"></col>
					<col class="colStyle"></col>
					</colgroup>
		<tr ng-repeat="object in class.profreview  | orderBy:sortType">
			<td><span ng-bind="object.name + ' ' + object.section"  style="font-weight: bold; font-size: 120%"></span></a>
			<p />
				(<span ng-show="object.semester === 1">Spring </span>
				<span ng-show="object.semester === 2">Summer </span>
				<span ng-show="object.semester === 3">Fall </span>
				<span ng-show="object.semester === 4">Winter </span>
				<span ng-bind="object.year"></span>)</td>

						<td>
						<span ng-bind="object.professor_fname + ' ' + object.professor_lname" style="font-weight: bold; font-size: 120%"></span></a></td>
			<span>
			<td><p style="font-weight:bold">Class:</p><textarea cols="50" rows="5" class="textBox" readonly ng-bind="object.class_review"></textarea>

			<p style="font-weight:bold">Professor:</p><textarea cols="50" rows="5" class="textBox" readonly ng-bind="object.professor_review"></textarea>Submitted: <span ng-bind="object.review_date"></span></td>

			<td>
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.class_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.class_rating"></p></span>
			</td>

			<td>
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.professor_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.professor_rating"></p></span>
			</td>

			</span>
			</colgroup>
		</tr>
		</tbody>
	</table>
</div>
</div>












<!-- <div style="width:50%;margin:10px auto;" ng-controller="ClassCtrl as class">
	<div>
		<input ng-model="search" class="form-control" type="text" placeholder="Search by Subject">
		<p ng-show="search">Filtering by {{search}}</p>
	</div>
	<h1>Professor Reviews</h1>
	<table class="table">
		<thead>
			<tr>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortSubject()">Class Name</button>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortSection()">Section</button>
				</td>
				<td>
					<p>Class Review</p>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortName()">Professor</button>
				</td>
				<td>
					<p>Professor Review</p>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortYOR()">Review Date</button>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortYear()">Year</button>
				</td>
				<td>
					<p>Semester</p>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortCR2()">Class Rating</button>
				</td>
				<td>
					<button class="btn tbutton" ng-click="sortType = class.sortPR2()">Professor Rating</button>
				</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="object in class.profreview | orderBy:sortType">
			<td ng-bind="object.name"></td>
			<td ng-bind="object.section"></td>
			<td ng-bind="object.class_review"></td>
			<td ng-bind="object.professor_fname + ' ' + object.professor_lname"></td>
			<td ng-bind="object.professor_review"></td>
			<td ng-bind="object.review_date"></td>
			<td ng-bind="object.year"></td>
			<td>
				<span ng-show="object.semester === 1">Spring</span>
				<span ng-show="object.semester === 2">Summer</span>
				<span ng-show="object.semester === 3">Fall</span>
				<span ng-show="object.semester === 4">Winter</span>
			</td>
			<td
				<div ng-mouseover="hoverNumber = true" ng-mouseleave="hoverNumber = false">
				<div star-rating rating-value="object.class_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber"><p ng-bind="object.class_rating"</p></span>
			</td>
			<td
				<div ng-mouseover="hoverNumber2 = true" ng-mouseleave="hoverNumber2 = false">
				<div star-rating rating-value="object.professor_rating" max=5 ></div>
				</div>
				<span ng-show="hoverNumber2"><p ng-bind="object.professor_rating"</p></span>
			</td>
		</tr>
		</tbody>
	</table>
</div> -->
