<div id="menu" ng-controller="LogoutCtrl as logout">
	<ul class="nav nav-tabs navbar-default navbar-fixed-top" style="position:fixed; background:white;">
		<li class=""><a href="#/home"  data-toggle="tab" aria-expanded="false">Home</a></li>
		<li class=""><a href="#/classes"  data-toggle="tab" aria-expanded="false">Classes</a></li>
		<li class=""><a href="#/professors"  data-toggle="tab" aria-expanded="false">Professors</a></li>
		<li class=""><a href="#/myreviews"  data-toggle="tab" aria-expanded="false">My Reviews</a></li>
		<li class=""><a href="#/myclasses"  data-toggle="tab" aria-expanded="false">My Classes</a></li>
		<li class="" ng-click="logout.loggingOut()"><a href="#/"  data-toggle="tab" aria-expanded="false">Log Out</a></li>
	</ul>
</div>
<div ng-controller="SubmittedCtrl as ctrl">
<div style="width:50%;margin:10px auto;">
<h1>Update Review Successful!</h1>
</div>
</div>
